<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css"> 
</head>

<body>
    <div class = "main-content">
        {{>header}}
        <p>This sites was created by Atul Singh . It uses <b>Mapbox Api</b> and <b>Weather Stack Api </b></p>
        
    </div>
    {{>footer}}
</body>

</html>