<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css"> 
    <script data-ad-client="ca-pub-7443412868548862" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    <div class = "main-content">
        {{>header}}
        <p>This sites was created by Atul Singh . It uses <b>Mapbox Api</b> and <b>Weather Stack Api </b></p>
        
    </div>
    {{>footer}}
</body>

</html>